.glass-morphism {
    background: rgba(24, 24, 24, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.step-active {
    box-shadow: 0 0 20px #F72585;
    background-color: #F72585;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(5deg);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}